@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Spartan&display=swap");

* {
  max-width: 2000px;
  font-family: "Spartan";
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
}
.headerContainer div {
  width: 100%;
}

.contactBackground{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-top: 3rem;
}

