.imgContainer{
display: flex;
}

h1{
   font-size: 3rem;
   line-height: 3rem;
}
h2{
   font-size: 1.75;
   line-height: 3rem;
   margin-top: 2rem;
}

h4{
   font-size: 1rem;
   line-height: 1.75rem;
   color: gray;
}

p{
   font-size: 0.9rem;
   margin: 1rem auto 0 auto;
   width: 90vw;
   line-height: 1.5;

}
.article{
   text-align: center;
   margin-top: 4rem;
}