h1{
   text-align: center;
   padding: 1rem;
}

.page {
  width: 90vw;
  max-width: 1800px;
  text-transform: capitalize;
margin: 0 auto;

}

.page span:last-child {
  margin-left: 1rem;
  position: relative;
}




@media screen and (min-width: 768px) {
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
}

@media screen and (min-width: 992px) {
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
   .page {
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 2rem;
   }
 }
 
.wrapper {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.wrapperInner {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 180px;
  padding: 15px 20px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  background: rgba(224, 164, 34, 0.4);
  transition: ease-in-out 0.2s;
}

.wrapperInner h3{
   margin: 1rem 0rem;
   color:#e8e4c9;
   font-size: 1rem;
}

.description h5{
   color: #e8e4c9;
   font-size: 0.7rem;
}

.wrapper:hover .wrapperInner{
   top: 120px;
}

.page button {
   padding: 1rem 2rem;
   border: none;
   background-color: rgba(224, 164, 34, 0.9);
color: #e8e4c9;
cursor: pointer;
}
